.slider_bg_1{
    background-image: url(../img/banner/banner.png);
}
.slider_bg_2{
    background-image: url(../img/banner/banner_2.png);
}
.slider_area{
    position: relative;
    z-index: 0;
    &::before{
        background: #040E27;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        opacity: .7;
    }
    .single_slider{
        height: 900px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &.single_listing{
            height: 500px;
        }
        @media #{$mobile_device} {
            height: auto;
        }
        @media #{$tablet_device} {
            height: 700px;
        }
        .slider_text{
            @media #{$mobile_device}{
                margin-top: 90px;
                margin-bottom: 20px;
            }
            h3{
                font-family: $font1;
                font-size: 60px;
                font-weight: 400;
                line-height: 74px;
                margin-bottom: 40px;
                color: #fff;
             @media #{$mobile_device} {
               font-size: 30px;
                margin-bottom: 30px;
                line-height: 45px;
            }
             @media #{$tablet_device} {
                font-size: 34px;
                line-height: 1.4;
                margin-bottom: 35px;
            }
             @media #{$mid_device} {
               font-size: 40px;
               line-height: 1.4;
            }
             @media #{$large_device} {
                font-size: 60px;
                font-weight: 400;
                line-height: 74px;
            }
            }
            p{
                font-size: 30px;
                font-weight: 400;
                color: #F91842;
                // margin-bottom: 24px;
                // margin-top: 10px;
                font-family: $font2;
                margin-bottom: 24px;
             @media #{$mid_device} {
                font-size: 16px;
             }
             @media #{$mobile_device} {
                font-size: 16px;
             }
            }
            .button_search{
                text-align: right;
                @media #{$mobile_device} {
                    text-align: left;
                }
            }
            .quality{
                margin-top: 40px;
                @media #{$mobile_device} {
                    margin-top: 20px;
                }
                ul{
                    li{
                        display: inline-block;
                        @media #{$mobile_device}{
                            margin-bottom: 10px;
                        }
                        button{
                            border: none;
                            background: rgba(255,255,255,.20) ;
                            border-radius: 5px;
                            font-size: 14px;
                            color :#fff;
                            font-weight: #000;
                            font-family: $font2;
                            padding: 5px 19px;
                            display: inline-block;
                            margin: 0 3px;
                            @include transition(.3s);
                            cursor: pointer;
                            &:hover{
                                background: #F91842;
                            }
                        }
                    }
                }
            }
        }
    }
    .payment_form{
        padding: 50px;
        @include border-radius(5px);
        @media #{$mobile_device}{
            padding: 30px;
            margin-bottom: 30px;
        }
        @media #{$tablet_device}{
            padding: 30px;
        }
        @media #{$mid_device}{
            padding: 30px;
        }
        .single_input input {
            height: 50px;
            border: 1px solid #F0F0F0;
            padding: 15px;
            font-size: 16px;
            color: #000;
            &:focus{
                outline: none;
            }
            &::placeholder{
                font-size: 16px;
                font-weight: 400;
                color: #7A838B;
                font-family: $font2;
            }
        }
        h4{
            font-size: 30px;
            font-weight: 400;
            color: #040E27;
            margin-bottom: 19px;
            @media #{$mobile_device}{
                font-size: 25px;
                margin-bottom: 10px;
            }
            @media #{$tablet_device}{
                font-size: 24px;
            }
            @media #{$mid_device}{
                font-size: 24px;
            }
        }
        p{
            font-size: 16px;
            font-weight: 400;
            color:#7A838B;
            margin-bottom: 39px;
            margin-top: 21px;
            @media #{$mobile_device}{
                margin-bottom: 15px;
                margin-top: 10px;
            }
            @media #{$mid_device}{
                font-size: 14px;
            }
        }
        .nice-select.wide {
            width: 100%;
            height: 50px;
            line-height: 50px;
            border-radius: 5px;
            color: #7A838B;
            margin-bottom: 15px;
        }
        .submit_btn{
            button{
                width: 100%;
                text-align: center;
            }
        }
    }
}
.gj-picker-md div[role="navigator"] {

    padding-left: 30px !important;

}
.gj-datepicker-md [role="right-icon"] {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 16px;
	color: #919191;
	margin-right: 20px;
	top: 50%;
	transform: translateY(-50%);
}
.nice-select::after {
	content: "\f0d7";
	display: block;
	pointer-events: none;
	position: absolute;
	right: 30px;
	top: 50%;
	transition: all 0.15s ease-in-out;
	width: 5px;
	font-family: 'fontawesome';
	color: #ddd;
	transform: translateY(-50%);
	font-size: 16px;
	right: 25px;
    color: #AAB1B7;
    height: auto;
    margin-top: 0;
}