
@import 'varriable.scss';
@import 'mixins.scss';
@import 'extend';
@import 'responsive.scss';
@import 'theme-default.scss';
@import 'btn';
@import 'section_title';
@import 'slick-nav.scss';



// header
@import 'header';

// slider
@import 'slider';

// about
@import 'about';

// counter
@import 'counter';

// testmonial
@import 'testmonial';
// accordion
@import 'accordion';
// accordion_area
@import 'accordion_area';
// case_details
@import 'check';

// gallery
@import '_gallery';

// about
@import 'footer';

@import 'bradcam';


@import 'testmonial';

@import 'service';

@import 'works';


@import 'loan';

@import 'brand';

@import '_apply';



// other pages default

// contact
@import 'contact';

// elements
@import 'elements.scss';

// blog
@import 'blog';


// blog part
@import 'blog_part';

